/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
    background-color: #449FC7;
    color: white;
    border-block-color: #449FC7;
}




/* Login imagen */
.imgLogin {
    background: url('../images/airport.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

/* Logo imagen*/
.imgLogo {
    width: 150px;
    /*   margin-top: 30px;
    margin-bottom: 20px;*/
}


/*Botón para ingresar del login*/
.btnIngresar {
    background-color: #449FC7;
    border-block-color: #449FC7;
    border: 1px solid #449FC7
}

    .btnIngresar:hover {
        background-color: #8E97ED;
        border: 1px solid #8E97ED;
    }



.contenedorLogin {
    width: 300px;
    height: auto;
    background: #ffffff1e;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}



.titulo {
    color: #449FC7;
    border: 2px solid #449FC7;
    border-radius: 30px;
    font-size: 22px;
}


.titulo2 {
    color: white;
    font-size: 15px;
}



.etiquetas {
    color: #808080;
    font-size: 16px;
    font-weight: bold;
}


/*Menu de lado izquierdo*/
/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 20px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 300px;
    z-index: 600;
    background-color: white;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}




/*Mensaje de error formulario*/
.mensaje_error {
    font-size: 15px;
    margin-bottom: 0;
    display: none;
    color: dimgrey;
}


.mensaje_error_activo {
    display: block;
}
