
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<h1>Index</h1>
    <a asp-action="BasePage" asp-controller="User">Ver </a>*@

<body class="imgLogin  ">



    @*<h1>Index</h1>
        <a asp-action="Privacy" asp-controller="Home">Ver </a>*@
    <section class="container-fluid shadow ">
        <section class="row justify-content-center ">
            <section class="col-12 col-sm-6 col-md-4 ">

                <div class=" rounded-5 shadow-5-strong p-5  form-control">
                    <div class="">
                        <img class="imgLogo" src="~/images/iconCIIADHEL2.png" />
                    </div>
                    <div class="form-group">
                        <label class="etiquetas" for="InputUsuario1">Usuario</label>
                        <input type="text" pattern="[1-9]-?\d{4}-?\d{4}" maxlength="10" title="Formato: 1-2345-6789" class="form-control" required="" id="txtUsuario" @*aria-describedby="idHelp"*@>
                        @*   <small id="idHelp" class="form-text text-muted"></small>*@
                    </div>

                    <div class="form-group">
                        <label class="etiquetas" for="InputPassword1">Contraseña</label>
                        <input type="password" class="form-control" id="txtPassword" maxlength="25" required>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btnIngresar" id="log">Ingresar</button>
                    <br />
                    <div class="form-group">
                        <a href="#" data-toggle="popover" title="Información" data-content="Comuníquese por correo electrónico a soportenuvian@rossmon.co.cr o bien comuníquese por vía telefónica con el administrador al +506 85903615">¿Olvidó su contraseña?</a>
                        <h6 id="errormsg" style="color:red;"></h6>
                    </div>

                    <div class="form-group">

                    </div>


                </div>

            </section>
        </section>


    </section>


</body>

@section Scripts{
    <script src="~/js/login.js"></script>



}


