
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">  <p class="titulo ">Lista de usuarios</p></div>
    <div class="col-sm-4"></div>
</div>

<table id="Users_table" class="table table-striped">
    <thead style="background-color: #449FC7;">
        <tr class="titulo2">
            <th>ID</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Aeropuerto</th>
            <th>Correo</th>
            <th>Fecha ingreso</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>





