
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">  <p class="titulo ">Lista de usuarios</p></div>
    <div class="col-sm-4"></div>
</div>

<table id="Users_table" class="table table-striped">
    <thead style="background-color: #449FC7;">
        <tr>
            <th>Prueba 1</th>
            <th>Prueba 2</th>
            <th>Prueba 3</th>
            <th>Prueba 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
            <td>Dato 4</td>
        </tr>
    </tbody>
</table>


