

<br />
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">  <p class="titulo ">Registro Usuarios</p></div>
    <div class="col-sm-4"></div>
</div>
<br />
<br />
<form class=" ">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputID1">Identificación</label>
                <input type="text" class="form-control" id="txtIdentificacion" required>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="txtPassword" required>
            </div>
        </div>
        <div class="col"></div>
    </div>




    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputNombre1">Nombre</label>
                <input type="text" class="form-control" id="txtNombre" required>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputApellido1">Primer Apellido</label>
                <input type="text" class="form-control" id="txtApellido1" required>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputApellido2">Segundo Apellido</label>
                <input type="password" class="form-control" id="txtApellido2" required>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputCorreo1">Correo Electrónico</label>
                <input type="password" class="form-control" id="txtCorreo" required>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputTelefono1">Teléfono</label>
                <input type="password" class="form-control" id="txtTelefono" required>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputCorreo1">Fecha Nacimiento</label>
                <input type="password" class="form-control" id="txtPassword" required>
            </div>
        </div>
        <div class="col"></div>
    </div>



    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <label class="etiquetas" for="InputApellido2">Aeropuerto</label>
                @*<select class="js-example-basic-single" name="state">
                    <option value="AL">Dato 1</option>
                    
                    <option value="WY">Dato 2</option>
                </select>*@
            </div>

        </div>
        <div class="col">

        </div>
        <div class="col"></div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>
        <div class="col"></div>
    </div>

</form>