@section Styles{

}

<br />
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">  <p class="titulo ">Registro Usuarios</p></div>
    <div class="col-sm-4"></div>
</div>
<br />
<br />
<form class="formulario " id="formulario">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group" id="gIdentificacion">
                <label class="etiquetas" for="InputID1">Identificación</label>
                <input type="text" class="form-control" id="identificacion" name="identificacion">
                <p class="mensaje_error">El usuario debe contener solo números, máximo 10 dígitos</p>
            </div>

        </div>
        <div class="col">
            <div class="form-group" id="gPassword">
                <label class="etiquetas" for="InputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
                <p class="mensaje_error">La contraseña debe contener solo caracteres alfanumericos, máximo 25 dígitos</p>
            </div>
        </div>
        <div class="col"></div>
    </div>




    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group" id="gNombre">
                <label class="etiquetas" for="InputNombre1">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" maxlength="25">
                <p class="mensaje_error">El nombre debe contener solo letras, máximo 25 dígitos</p>
            </div>

        </div>
        <div class="col">
            <div class="form-group" id="gApellido1">
                <label class="etiquetas" for="InputApellido1">Primer Apellido</label>
                <input type="text" class="form-control" id="apellido1" name="apellido1" maxlength="25">
                <p class="mensaje_error">El primer apellido debe contener solo letras, máximo 25 dígitos</p>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group" id="gApellido2">
                <label class="etiquetas" for="InputApellido2">Segundo Apellido</label>
                <input type="text" class="form-control" id="apellido2" name="apellido2" maxlength="25">
                <p class="mensaje_error">El segundo apellido debe contener solo letras, máximo 25 dígitos</p>
            </div>

        </div>
        <div class="col">
            <div class="form-group" id="gCorreo">
                <label class="etiquetas" for="InputCorreo1">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" placeholder="example@gmail.com">
                <p class="mensaje_error">El correo debe tener como máximo 25 dígitos</p>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group" id="gTelefono">
                <label class="etiquetas" for="InputTelefono1">Teléfono</label>
                <input type="password" class="form-control" id="telefono" name="telefono" placeholder="8888-8888">
                <p class="mensaje_error">El telefono debe contener solo números, máximo 10 dígitos</p>
            </div>

        </div>
        <div class="col">
            <div class="form-group" id="gFecha">
                <label class="etiquetas" for="InputCorreo1">Fecha Nacimiento</label>
                <input type="date" class="form-control" id="fecha" name="fecha">
            </div>
        </div>
        <div class="col"></div>
    </div>



    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group" id="gAeropuerto">
                <label class="etiquetas" for="InputApellido2">Aeropuerto</label>
                <select id="aeropuerto" class="form-control js-example-basic-single">
                </select>
            </div>

        </div>
        <div class="col">

        </div>
        <div class="col"></div>
    </div>


    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="form-group">
                <button id="btnGuardar" type="submit" class="btn btn-success btn-block" disabled="disabled">Guardar</button>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-block">Cancelar</button>
            </div>
        </div>
        <div class="col"></div>
    </div>

</form>

@*<div class="col">
    <div class="form-group">
        <button id="btnEliminar" type="button" class="btn btn-danger btn-block">Eliminar</button>
    </div>
</div>*@

@section Scripts{




}


